html, body {
    height: 100%;
    margin: 0;
    background-color: #c0dfd9;
}

.container {
    margin-top: 9%;
    margin-bottom: 112px;
}

nav {
    background-color: #c0dfd9;
    top: -67px;
    transition: top 0.3s;
}

#logo {
    font-size: 30px;
    font-family: "gothic-open-shaded", sans-serif;
}


#skillsIcons svg {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}


#polyText{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 8px;
    padding: 5px 20px 0px 16px;
    font-family: "forma-djr-deck", sans-serif;
}

#gifBankText {
    margin-top: 6px;
    margin-bottom: 0px;
    font-size: 8px;
    padding: 5px 20px 0px 16px;
    font-family: "forma-djr-deck", sans-serif;
}

h1 {
    font-family: "gothic-open-shaded", sans-serif;
    font-size: 100px;
    color: #3b3a36;
    margin-bottom: 5px;
}

h2 {
    font-family: "gothic-open-shaded", sans-serif;
    font-size: 60px;
    color: #3b3a36;
}

h4 {
    font-family: "forma-djr-deck", sans-serif;
    font-size: 40px;
    color: #3b3a36;
}

p {
    font-family: "forma-djr-deck", sans-serif;
    color: #3b3a36;
}

li, a {
    font-family: "forma-djr-deck", sans-serif;
    padding-right: 10px;
    padding-left: 10px;
    text-transform: uppercase;
    color: inherit;
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    border-bottom: 1px solid #c0dfd9;
}

a:hover {
    border-bottom: 1px solid #b3c2bf;
}

#trivImg{
    width: 126%;
    margin-top: 71px;
    border-radius: 15px;
}
#trivRow {
    margin-left: 0px;
    margin-right: 0px;  
}

#trivRow a {
    border-bottom-color: white;
    font-family: "forma-djr-deck", sans-serif;
    font-weight: 700;
    padding-left: 0px;
    position: absolute;
    bottom: 10px;
}

#trivRow a:hover {
    border-bottom-color: #c0dfd9;
}
#trivImg2{
    margin: auto;
    width: 97%;
    margin-bottom: 10px;
    border-radius: 15px;
}

#textInset {
    width: 100%;
    height: 574px;
    position: relative;
    top: 12px;
    border-radius: 15px;
}

#textInset p {
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 4px
}

#textInset li {
    display: block;
    list-style-type: circle;
    border-bottom: none;
    font-size: 14px;
}

#cardH1 {
    font-size: 331%;
    position: relative;
    top: -11px;
    margin-bottom: 5px;
}

#cardH4 {
    font-family: "gothic-open-shaded", sans-serif;
    color: #3b3a36;
    font-size: 279%;
    position: relative;
    top: 8px;
    margin-bottom: 33px;
}


#gifBankImg {
    width: 108%;
    margin-top: 101px;
    border-radius: 15px;
}

#teamProjAImg{
    width: 108%;
    margin-top: 101px;
    border-radius: 15px;
}

.titleSVG {
    position: relative;
    top: 10%;
}


#contact{
    border-radius: 15px;
}

#contact h1 {
    font-size: 331%;
    position: relative;
    top: 13px;
    left: 13px;
    margin-bottom: 5px;
}

#name{
    width: 30%;
    border: 1px solid lightgray;
    border-radius: 5px;
}

#email{
    width: 57%;
    border: 1px solid lightgray;
    border-radius: 5px;
}

#textInput{
    background-color: white;
    width: 100%;
    height: 200px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

input[type=submit], input[type=reset] {
    font-family: "gothic-open-shaded", sans-serif;
    font-size: 32px;
    background-color: #94F7FF;
    border: none;
    border-radius: 5px;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

@media only screen and (max-width: 1040px) {

    #cardH1 {
        font-size: 234%;
    }

    #cardH4 {
        font-size: 202%;
    }

    h2 {
        font-size: 52px;
    }
  }

  @media only screen and (max-width: 904px) {
    #textInset {
        height: 613px;
    }

    h2 {
        font-size: 40px;
    }
}

  @media only screen and (max-width: 811px) {
    #textInset {
        height: 658px;
    }

    #cardH1 {
        font-size: 177%;
    }

    #cardH4 {
        font-size: 215%;
    }

    

  }

  @media only screen and (max-width: 811px) {
    #textInset {
        height: 658px;

  }

  @media only screen and (max-width: 754px) {
    #textInset {
        height: 765px;
  }
}

@media only screen and (max-width: 610px) {
    h1 {
        font-size: 72px;

    }
  }

  @media only screen and (max-width: 601px) {
    #textInset {
        height: 100%;
    }

    #cardH1 {
        font-size: 166%;
    }

    #cardH4 {
        font-size: 202%;
    }

    h2 {
        font-size: 29px;
    }
  }

