html, body {
    height: 100%;
    margin: 0;
    background-color: #c0dfd9;
}

.container {
    margin-top: 15%;
}

nav {
    background-color: #c0dfd9;
    top: -67px;
    transition: top 0.3s;
}

#logo {
    font-size: 30px;
    font-family: "gothic-open-shaded", sans-serif;
}

#polyText{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 8px;
    padding: 5px 20px 0px 16px;
    font-family: "forma-djr-deck", sans-serif;
}

#gifBankText {
    margin-top: 6px;
    margin-bottom: 0px;
    font-size: 8px;
    padding: 5px 20px 0px 16px;
    font-family: "forma-djr-deck", sans-serif;
}

h1 {
    font-family: "gothic-open-shaded", sans-serif;
    font-size: 100px;
    color: #3b3a36;
}

h2 {
    font-family: "gothic-open-shaded", sans-serif;
    font-size: 60px;
    color: #3b3a36;
}

h4 {
    font-family: "forma-djr-deck", sans-serif;
    font-size: 40px;
    color: #3b3a36;
}

p {
    font-family: "forma-djr-deck", sans-serif;
    color: #3b3a36;
}

li, a {
    font-family: "forma-djr-deck", sans-serif;
    padding-right: 10px;
    padding-left: 10px;
    text-transform: uppercase;
    color: inherit;
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    border-bottom: 1px solid #c0dfd9;
}

li#sectionItems {
    display: block;
    list-style-type: circle;
}

a:hover {
    border-bottom: 1px solid #b3c2bf;
}

#trivImg{
    width: 126%;
    margin-top: 71px;
    border-radius: 15px;
}

#gifBankImg {
    width: 108%;
    margin-top: 101px;
    border-radius: 15px;
}

#teamProjAImg{
    width: 108%;
    margin-top: 101px;
    border-radius: 15px;
}

.titleSVG {
    position: relative;
    top: 10%;
}

