html, body {
    height: 100%;
    margin: 0;
    background-color: #c0dfd9;
}

.container {
    margin-top: 15%;
}

nav {
    background-color: #c0dfd9;
    top: -67px;
    transition: top 0.3s;
}

#logo {
    font-size: 30px;
    font-family: "gothic-open-shaded", sans-serif;
}

#polyText {
    font-size: 12px;
    padding: 18px;
    font-family: "forma-djr-deck", sans-serif;
}

h1 {
    font-family: "gothic-open-shaded", sans-serif;
    font-size: 100px;
    color: #3b3a36;
}

li, a {
    font-family: "forma-djr-deck", sans-serif;
    padding-right: 10px;
    padding-left: 10px;
    text-transform: uppercase;
    color: inherit;
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    border-bottom: 1px solid #c0dfd9;
}

a:hover {
    border-bottom: 1px solid #b3c2bf;
}

#trivImg {
    width: 126%;
    margin-top: 71px;
    border-radius: 15px;
}

